<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <%- include('header.ejs') %>
  </div>
  <h1>
    <%= title %>
  </h1>

  <ul>
    <% for (let product of products) {%>
      <li class="product__card">
        <h2>
          <%= product.title %>
        </h2>
        <p>
          <%= product.price %>
        </p>
      </li>
      <% } %>
  </ul>

</body>

</html>